@media (min-width: 640px){
.KQA-S, ._1MzIy, ._3MPWk, ._8Rm4L, .zMhqu {
  border-radius: 3px !important;
  border: 1px solid #4a5c69 !important;
}
}

@media (min-width: 640px){
.KQA-S, ._1MzIy, ._3MPWk, ._8Rm4L, .zMhqu {
  border-radius: 3px !important;
  border: 1px solid #4a5c69 !important;
}
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  color: #ffffff !important;
}

.jQgLo {
  color: #ffffff !important;
}
.ho19H, .ho19H:active, .ho19H:focus, .ho19H:hover, .ho19H:visited {
  color: #ffffff !important;
  font-size: 12px !important;
  line-height: 14px !important;
}

.gmFkV, .gmFkV:active, .gmFkV:focus, .gmFkV:hover, .gmFkV:visited {
  color: #ffffff !important;
  font-weight: 600 !important;
}

._97aPb {
background-color: #243447 !important;

}
body{
    background-color: #141d26 !important;
}
._5mToa {
  border-top: 1px solid #6e8290 !important;
  height: 1px !important;
  margin: 0 0 12px !important;
  width: 100% !important;
}


.Ypffh {
  background: 0 0 !important;
  border: 0 !important;
  color: #e6e6e6 !important;
  font-size: inherit !important;
  height: 18px !important;
  max-height: 80px !important;
  outline: 0 !important;
  padding: 0 !important;
  resize: none !important;
}

.XTCLo {
  border: solid 1px #dbdbdb !important;
  border-radius: 3px !important;
  color: #ffffff !important;
  outline: 0 !important;
  padding: 3px 10px 3px 26px !important;
  z-index: 2 !important;
}

.E3X2T {
  min-height: 100% !important;
  overflow: hidden !important;
  background-color: #252d35 !important;
}

.o64aR{
background-color: #141d26
}

._lz6s{
background-color: #243447 !important;
border-bottom: 1px solid rgba(90, 111, 128, 0.78)
}

.x3qfX
{ background-color: #243447}

.Di7vw {  background-color: #243447}




.sH9wk {
  border-top: 1px solid #6c8698 !important;
}

.TlrDj, .TlrDj:visited {
  color: #dbdbdb !important;
}

a, a:visited {
  color: #e6e6e6 !important;
  text-decoration: none !important;
}

.zV_Nj, .zV_Nj:visited {
  font-weight: 600 !important;
  color: #e6e6e6 !important;
}

.eo2As {
  padding: 0 16px !important;
  background-color: #243447 !important;
}

.UE9AK {
  border-bottom: 1px solid #5c6c77 !important;
  background-color: #243447 !important;
}
.nJAzx, .nJAzx:visited {
  color: #e0e0e0 !important;
}
a.O4GlU, a.O4GlU:visited {
  color: #e0e0e0 !important;
}

.JLbVX {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  height: 100% !important;
  padding: 0 20px !important;
  text-align: center !important;
  background-color: #2f3c46 !important;
}
._8A5w5 {
  color: #e6e6e6 !important;
}
a.T-jvg, a.T-jvg:visited {
  color: #262626 !important;
  border-top: solid #4c5c67 0.5px !important;
}

._3Laht, .o64aR {
  background-color: #151d26 !important;
}

.g47SY {
  color: #e6e6e6 !important;
  font-weight: 600 !important;
}
.cqXBL, .cqXBL:visited, .y9v3U {
  color: #f1f1f1 !important;
}

._6oveC {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  background-color: #243447 !important;
}
.yWX7d._8A5w5 {
  color: #fdfdfd !important;
}

.RPhNB {
  display: inline !important;
  color: #fdfdfd !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}
.gmFkV, .gmFkV:active, .gmFkV:focus, .gmFkV:hover, .gmFkV:visited {
  color: #ffffff !important;
  font-weight: 600 !important;
}

.jQgLo {
  color: #ffffff !important;
}

._3Laht, .o64aR {
  background-color: #151d26 !important;
}
._6oveC {
  -webkit-box-align: stretch !important;
  -webkit-align-items: stretch !important;
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
  background-color: #243447 !important;
}

.JyscU {
  width: 100% !important;
  background-color: #243447  !important;
}

.aD2cN::after {
  background-image: none !important;
  background-image: none !important;
  background-image: none !important;

}

.t0fbY {
  background: #243447 !important;
  border: solid 1px #4f6474 !important;
}

.DXv8P, .DXv8P:visited {
  color: #ffffff !important;
}

._32eiM, ._32eiM:visited {
  color: #939999  !important;
  font-weight: 500 !important;
}

.-fzfL {
  background: 0 0 !important;
  border-color: #dbdbdb !important;
  color: #ffffff !important;

}

.Nd_Rl, .fx7hk {
  border-top: 1px solid #636364 !important;
}

a.T-jvg, a.T-jvg:visited {
  color: #262626 !important;
  border-top: solid #f1f1f1 0.5px !important;
}

.HoLwm {
  color: black !important;
}

.uL8Hv {
  display: block !important;
  color: #dfdfdf !important;
}
._3G4x7 {
  color: #69a1e0 !important;
}

._32eiM, ._32eiM:visited {
    color: #999892 !important;
    font-weight: 500 !important;
}

@media (min-width: 736px){
.NP414 {
  border: 1px solid #4f6474 !important;
}
}

.NP414, .NP414::before {
  background: #151d26 !important;
}

.Qj3-a, .Qj3-a:visited {
  color: #ffffff !important;
}

.YQf7h {
  -webkit-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  background: #243447 !important;
  border: 1px solid #4f6474 !important;
  border-top-color: rgb(79, 100, 116) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: rgb(79, 100, 116) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: rgb(79, 100, 116) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: rgb(79, 100, 116) !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-flex: 0 !important;
  -webkit-flex: 0 0 auto !important;
  -ms-flex: 0 0 auto !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

._7cyhW {
  color: #cfcfcf !important;
  text-align: center !important;
  -webkit-box-flex: 1 !important;
  -webkit-flex-grow: 1 !important;
  -ms-flex-positive: 1 !important;
  flex-grow: 1 !important;
}

.HoLwm {
  color: #dfdfdf !important;
}

.pbNvD {
  background-color: #243447 !important;
  border: 1px solid #405b6f !important;
  border-top-color: rgb(64, 91, 111) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: rgb(64, 91, 111) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: rgb(64, 91, 111) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: rgb(64, 91, 111) !important;
  border-left-style: solid !important;
  border-left-width: 1px !important;
  border-image-source: initial !important;
  border-image-slice: initial !important;
  border-image-width: initial !important;
  border-image-outset: initial !important;
  border-image-repeat: initial !important;
}

.aOOlW {
  border-top: 1px solid #405b6f !important;
}

.vtWDf {
  background: #243447 !important;
}


.BcJ68 {
    font-weight: 600 !important;
    color: #ffffff !important;
}

.CEGdu {
  display: block !important;
  color: #f3f3f4 !important;
}



.YFq-A {
  color: #d3d3d3 !important;
}

.yrJyr, .yrJyr:visited {
  color: #ffffff !important;
  font-weight: 600 !important;
}

.PUHRj::after {
  border-bottom: 1px solid #4f6474 !important;
  border-bottom-width: 1px !important;
  border-bottom-style: solid !important;
  border-bottom-color: rgb(79, 100, 116) !important;

}

.vtWDf {
  background: #243447 !important;
  border: solid 1px #4f6474 !important;
  border-top-color: rgb(79, 100, 116) !important;
  border-top-style: solid !important;
  border-top-width: 1px !important;
  border-right-color: rgb(79, 100, 116) !important;
  border-right-style: solid !important;
  border-right-width: 1px !important;
  border-bottom-color: rgb(79, 100, 116) !important;
  border-bottom-style: solid !important;
  border-bottom-width: 1px !important;
  border-left-color: rgb(79, 100, 116) !important;

}

@media (min-width: 736px){
.ltEKP .QBXjJ {
  background-color: #243447 !important;
  border: 1px solid #4f6474 !important;
  border-bottom-right-radius: 3px !important;
  border-top-right-radius: 3px !important;
}}

.JyscU .UE9AK {
  border-bottom: 1px solid #4f6474 !important;
}

.BvMHM {
    background-color: #243447 !important;
    border: 1px solid #4f6474 !important;
  }


  .h-aRd, .h-aRd:active, .h-aRd:hover, .h-aRd:visited {
      color: #e6e6e6 !important;
  }

  .fuQUr:hover {
  background-color: #243447 !important;
  border-left-color: #4f6474 !important;
}

.wW1cu {
  border-right: 1px solid #4f6474 !important;
}

.JLJ-B, .p7vTm {
    background: 0 0 !important;
    border: 1px solid #648298 !important;
    border-radius: 3px !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    color: #e6e6e6 !important;
}

.j_2Hd {
  background: 0 0 !important;
  border: 1px solid #5b7386 !important;
  border-radius: 3px !important;
  color: #e6e4e1 !important;
}

.yVvXQ {
  color: #f3f3f3 !important;
  font-weight: 600 !important;
}

.tlZCJ:checked~.mwD2G::before {
  content: " " !important;
  border-bottom: 2px solid #ffffff !important;
  border-left: 2px solid #ffffff !important;
}

.nsKSz {
  font-size: 24px !important;
  color: #ffffff !important;
}

.zVbeI {
  border-bottom-color: #4f6474 !important;
}

.SZRPf {
  font-size: 16px !important;
  font-weight: 600 !important;
  color: #e6e6e6 !important;
}

.JfBqt {
  border-top-color: #4f6474 !important;
}

.ufStW, .XAiP-, .ufStW {
  color: #ffffff !important;
}

.bt7LU:not(:last-child) {
  border-bottom: 1px solid #4f6474 !important;
}


.nsKSz {
    font-size: 24px !important;
    color: #ffffff !important;
}

.SZRPf {
    font-size: 16px !important;
    font-weight: 600 !important;
    color: #e6e6e6 !important;
}

.zVbeI, .JfBqt{
border-color: #4f6474 !important;

}
.QNFpu {
  color: #ffffff !important;
}
.wVW5W {
  border-bottom: 1px solid #4f6474 !important;
}

._09ncq, .uzKWK {
  background-color: #141d26 !important;
}
.Ouy_P {
  color: #ffffff !important;
}

._o_yh {
  opacity: .7 !important;
}

.jBtI1 {
  color: #3ca1ff !important;
}

.O7gi1, ._0uZi4 {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  color: #dbdbdb !important;}

  .SJ1H9 {
      background-color: #243447 !important;
  }

  .uAQYz {
  background-color: #243447 !important;
}
.t3CGe {
  color: #fcfaf9 !important;
}


.ltpMr, .glyphsSpriteMail__outline__24__grey_9,
.glyphsSpriteLink__outline__24__grey_9,
.glyphsSpriteX__outline__24__grey_9,
.coreSpriteDesktopNavLogoAndWordmark,
.coreSpriteGlyphBlack,
.coreSpriteTaggedNull,
.coreSpriteDesktopProfileSaveActive,
.coreSpriteDesktopProfileIGTVActive,
.coreSpriteDesktopPhotoGridActive ,
.coreSpriteDesktopProfileTaggedActive,
.glyphsSpriteSettings__outline__24__grey_9,
.coreSpriteDesktopNavExplore,
.coreSpriteDesktopNavActivity,
.coreSpriteDesktopNavProfile,
.glyphsSpriteMore_horizontal__outline__24__grey_9,
.OfoBO,
.glyphsSpriteMore_horizontal__outline__24__grey_9,
.felixSpriteProfileChannelNullState,
.felixSpriteFbSelectedItem,
.coreSpriteProfileCamera,
.coreSpriteNotificationLeftChevron,
.coreSpritePagingChevron,
.coreSpriteLoggedOutWordmark,
 {
    filter: invert(100%) !important;
}
/* .glyphsSpriteHeart__filled__24__red_5{
  filter: invert(100%) !important;
} */

article{
  background-color: #243447 !important;

}
article > div {
  background-color: #243447  !important;
  border-color: #4f6474  !important;
  color: #ffffff  !important;
}

article > div > div > h2, div {
  color: #ffffff  !important;
}

._3Laht, .o64aR {
  background-color: #151d26 !important;
}


@media (min-width: 876px){
.bR_3v:not(.Fzijm) {
  background: #243447 !important;
  border: 1px solid #4f6474 !important;
}}

.H9zXO::after {
  filter: invert(100%)  !important;
}

.uk0Yc {
  filter: invert(100%)  !important;
}

section > main > div > ul
{
background: #243447  !important;

}

section > main > div > ul > li:first
{
background: #243447  !important;
}
.XAtZx{
background: #243447  !important;

}

.notranslate{
color: #ffffff  !important;
}
.BAJFR input{
  color: #9f9f9f  !important;
}

.BAJFR input, .BAJFR textarea {
  color: #9f9f9f  !important;
}

._4umcQ, .ztp9m{
    filter: invert(100%) !important;
}

.-cx-PRIVATE-ErrorPage__errorContainer__ a, .-cx-PRIVATE-ErrorPage__errorContainer__ a:visited {
  color: #92c5ff !important;
}
.cgig_ {
  color: #ffffff  !important;
}
.zy6NE{
  color: #ffffff  !important;
}

@media (min-width: 736px){
.GBPOY {
  background-color: #243447 !important;
  border: 1px solid #4f6474 !important;
}}

.YHaCL, .uKzpc {
  background: #243447 !important;
}
.JvDyy {
    background: #2d445e !important;
  }
.drKGC {
  background: #243447 !important;
  border: solid 1px #4f6474 !important;
}

.yCE8d {
  border-bottom: solid 1px #4f6474 !important;
}
.gr27e {
  background-color: #243447 !important;
}


.glyphsSpriteMobile_nav_type_logo,
.glyphsSpriteApp_instagram__outline__24__grey_9,
.SvO5t,
.coreSpriteDesktopNavExplore,
.coreSpriteDesktopNavActivity,
.coreSpriteDesktopNavProfile,
.glyphsSpriteHeart__outline__24__grey_9,
.glyphsSpriteComment__outline__24__grey_9,
.glyphsSpriteShare__outline__24__grey_9,
.glyphsSpriteSave__outline__24__grey_9,
.glyphsSpriteMail__outline__24__grey_9,
.glyphsSpriteLink__outline__24__grey_9,
.glyphsSpriteX__outline__24__grey_9,
.felixSpriteProfileChannelNullState,
.coreSpriteTaggedNull,
.glyphsSpriteSave__filled__24__grey_9,
.coreSpriteDropdownArrowGrey9,
.glyphsSpriteMore_horizontal__outline__24__grey_9,
.glyphsSpriteSafari__outline__24__grey_9,
.glyphsSpriteUser__outline__24__grey_9,
.glyphsSpriteSettings__outline__24__grey_9,
.coreSpriteDesktopPhotoGridActive,
.coreSpriteDesktopProfileIGTVActive,
.coreSpriteDesktopProfileSaveActive,
.coreSpriteDesktopProfileTaggedActive,
.Gzt1P,
.coreSpritePagingChevron
 {
    filter: invert(100%) !important;
}


.DPiy6 {
    background-color: #1b2732 !important;
}
.b2rUF {
  border: 1px solid #607786 !important;
}
._914pk {
  background: #182f3d;
  border-bottom: solid 1px #435c6c;
}
._6xe7A {
  background: #182f3d;
}
.Ba7W5 {
  background: #091017;
}
._41KYi,.LQtnO{
  background: #253748;
  border: 1px solid #607786;
}
